@import "../../colors.scss";
.container {
	flex: 8;
	// width: 80%;
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 4px;
	> .seekBar {
		flex: 10;
		height: 40%;
		position: relative;
		background-color: $orangey;
		border-radius: 7px;
		overflow: hidden;
		z-index: 1;
		&:hover {
			cursor: col-resize;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			// z-index: -1;
			background: rgb(2, 0, 36);
			background: linear-gradient(
				180deg,
				rgba(2, 0, 36, 0) 1%,
				rgba(0, 0, 0, 0.589) 120%
			);
		}
		> .pointer {
			width: 1px;
			height: 100%;
			display: none;

			background-color: white;
		}
		> .progress {
			content: "";
			position: absolute;
			width: 50%;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.26);
			// filter: contrast(240%);
			box-shadow: 2px 0 2px rgba(0, 0, 0, 0.281);
			z-index: -2;
			transition: width 0.6s;
		}
	}
	> .duration {
		width: 100px;
		text-align: center;
		box-sizing: border-box;
		padding-left: 5px;
	}

}
