@import "../colors.scss";

// * for (QueueMenu) component
.queueMenu {
    width: 340px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $gray2;
    z-index: 9;
    opacity: 1;
    transition: all 0.2s;
    @media screen and (max-width: 340px) {
        width: 100%;
        // background-color: white;
    }
    > .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        box-shadow: $gray1 2px 0 5px;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            // background-color: $light;
        }
    }
    > .body {
        height: 100%;
        padding: 10px;
        > .queueList{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            >.itemIsPlaying{
                // background-color: red;

            }
            >.item{
                display: flex;
                align-items: center;
                gap: 5px;
                // box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.411);
                border-bottom: 1px solid rgba(255, 255, 255, 0.064);
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.2s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.062);
                }
                >.playIcon{
                    width: 25px;
                    margin-left: auto;
                    padding: 7px;
                    border-radius: 100%;
                    background-color: rgba(255, 255, 255, 0.066);

                }
                >.playIconPlay{
                    background-color: $orangey;
                }
                &>.coverImage{
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border: 1px solid rgba(255, 255, 255, 0.071);
                    color: rgba(255, 255, 255, 0.088);
                    border-radius: 5px;
                }
            }
        }
    }
}

// * for (MenuBtn) component
.menuBtn {
    width: 34px;
    background-color: $gray2;
    color: whitesmoke;
    opacity: 0.9;
    border-color: rgba(255, 255, 255, 0.148);
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 10px;
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    &:hover {
        border-color: rgba(255, 255, 255, 0.242);
        cursor: pointer;
        opacity: 1;
    }
}

// * for (PosMenu) component
div.posMenuRootBtn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    transition: box-shadow 0.3s;
    &:hover {
        background-color: rgba(117, 117, 117, 0.197);
        box-shadow: 0 0 0px gray;
    }
}

div.posMenu {
    min-width: fit-content;
    // border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.129);
    box-shadow: 0 0 2px rgba(128, 128, 128, 0.611);
    z-index: 100;
    position: absolute;
    left: 10px;

    > .item {
        padding: 6px 8px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(128, 128, 128, 0.08);
        &:hover {
            background-color: rgba(128, 128, 128, 0.08);
            cursor: pointer;
        }
        // border: 1px solid rgb(246, 29, 29);
    }
}
